name: Test

on: push

# Use the builtin Node to ensure compatibility.
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v6
        with:
          version: latest
          run_install: true

      - run: pnpm run test
